<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vareoprettelse</title>
    <link href="bootstrap.css" rel="stylesheet">
</head>
<body>
    <form action="/create" method="post">
        <div class="form-group p-5">
            <h1 class="text-dark pb-4">Opret Vare</h1>
            <input class="form-control pb-4" type="text" name="name" placeholder="Varens navn">
            <input class="form-control pb-4" type="text" name="price" placeholder="Varens pris">
            <input class="form-control pb-4" type="text" name="description" placeholder="Beskrivelse">
            <div class="pt-5">
                <input class="btn-primary btn pt" type="submit" value="Opret">
                <a class="btn btn-primary" href="/">Fortryd</a>
            </div>
        </div>
    </form>
</body>
</html>